.sub_top {
    width: 100%;
    text-align: center;

    h6 {
        width: fit-content;

        padding: 0 0 12rem;
        margin: 0 auto;

        // font-family: var(--Brice);
        font-size: var(--fs-60);
        font-weight: 800;
        text-align: center;

        animation: title_expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    }
}

@keyframes title_expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1422px) {
    .sub_top {
        h6 {
            padding: 0 0 8rem;

            font-size: var(--fs-48);
        }
    }
}
@media screen and (max-width: 768px) {
    .sub_top {
        h6 {
            padding: 0 0 2rem;

            font-size: var(--fs-36);
        }
    }
}
@media screen and (max-width: 768px) {
    .sub_top {
        h6 {
            font-size: var(--fs-24);
        }
    }
}
