.career_wrap {
    width: 100%;
    background: url('../../../../public/img/img_paper_bg_4.svg') repeat-y 0 0 /
        100%;

    // 컨텐츠
    .career_box {
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        // padding-top: 0;

        & > div {
            width: calc((100% - 2rem) / 3);
            background-repeat: no-repeat;
            background-size: cover;

            &.card_1 {
                background-image: url('../../../../public/img/img_paper_box_1.svg');
            }
            &.card_2 {
                background-image: url('../../../../public/img/img_paper_box_2.svg');
            }
            &.card_3 {
                background-image: url('../../../../public/img/img_paper_box_3.svg');
            }
            &.card_4 {
                background-image: url('../../../../public/img/img_paper_box_4.svg');
            }
            &.card_5 {
                background-image: url('../../../../public/img/img_paper_box_5.svg');
            }
            &.card_6 {
                background-image: url('../../../../public/img/img_paper_box_6.svg');
            }

            &:hover {
                scale: 0.9;
            }
        }
    }

    .modal_box {
        .desc,
        .title,
        .skills,
        .img_box {
            margin-bottom: 2rem;
        }

        .desc {
            display: block;
            font-size: var(--fs-14);
        }

        .title {
            font-family: var(--Brice);
            font-size: var(--fs-36);
            font-weight: 900;
        }

        .img_box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            width: 100%;

            span {
                display: inline-block;

                position: relative;

                width: calc((100% - 1rem) / 2);
                aspect-ratio: 1 / 0.9;
                overflow: hidden;

                border: 1px solid var(--black);

                img {
                    position: absolute;
                    left: 50%;
                    top: 0;
                    transform: translateX(-50%);

                    width: auto;
                    height: 100%;
                }
            }
        }

        .btn_url {
            font-size: var(--fs-36);
            color: var(--white);

            background-color: var(--pink-01);
            animation: heartbeat 1.5s ease-in-out infinite both;
        }
    }
}

@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }
    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }
    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }
    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }
    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}
