.modal_wrap {
    position: fixed;
    left: 0;
    transform: translate(0, -50%);

    width: 100vw;
    height: 100vh;

    transition: all 0.5s;

    &.open {
        top: 50%;
    }

    &.close {
        top: 200%;
    }

    .modal_box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        width: 50%;
        height: 70rem;

        background: url('../../../public/img/img_paper_bg_5.svg') no-repeat 0 0 /
            cover;

        .btn_close {
            font-family: var(--Brice);
            font-size: var(--fs-36);

            margin: 2rem 0;
            margin-left: auto;

            background-color: transparent;

            & * {
                cursor: pointer;
            }

            img {
                height: 100%;
            }
        }

        .content {
            width: 90%;
            // height: calc(100% - 10rem);
            // // overflow-y: auto;

            margin: 0 auto;
        }
    }
}
