// 메인 비주얼
.main_visual {
  width: 100%;
  height: 55rem;
  background: url('../public/img/img_main_visual_bg.svg') no-repeat 0 0 / cover;

  & > div {
    width: fit-content;
    height: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    gap: 3rem;
    position: relative;

    h1 {
      width: 100%;
      font-size: var(--fs-72);
      font-family: 'RadiateSemiEx';
      font-weight: 900;
      // line-height: 1;
    }

    p {
      font-family: 'brice';
      font-weight: 600;
    }
    span {
      display: inline-block;
      width: 35rem;
      position: absolute;
      top: 50%;
      right: -30%;
      transform: translate(0, -50%);

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

// 무한 롤링
.ico_flower,
.ico_v {
  width: 3rem;
  height: auto;
  margin-bottom: 1rem;

  &.ico_v {
    width: 2.3rem;
  }
}

// 스킬
.skill_box {
  width: 100%;
  height: 50rem;

  .inner {
    width: calc(100% / 3);
    height: 100%;
    flex-wrap: wrap;
    align-content: center;
    gap: 3rem;
    padding: 5rem 0;
    box-sizing: border-box;
    transition: all 0.5s;

    p {
      height: 12rem;
      text-align: center;
      font-size: var(--fs-60);
      font-weight: 800;
      font-family: 'RadiateSemiEx';
      position: relative;
      transition: all 0.5s;
    }

    &:first-of-type {
      background: url('../public/img/img_skill_1.svg') no-repeat 0 0 / cover;

      p {
        color: var(--white);

        .img {
          width: 144%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    &:nth-of-type(2) {
      background: url('../public/img/img_skill_2.svg') no-repeat 0 0 / cover;

      p {
        color: var(--sub-orange-02);

        .img {
          width: 4rem;
          position: absolute;
          top: -1.5rem;
          left: 41%;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    &:last-of-type {
      background: url('../public/img/img_main_visual_bg.svg') no-repeat 0 0 /
        cover;

      p {
        font-family: 'BriceSemiEx';
        color: var(--sub-blue-01);

        .img {
          width: 4.7rem;
          position: absolute;
          top: -3.8rem;
          right: 7.7rem;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    ul {
      width: 100%;
      height: calc(100% - 15rem);
      // background-color: bisque;
    }

    &:hover {
      p {
        scale: 1.2;
        .img {
          transition: all 0.5s;
        }
      }

      &:first-of-type {
        &:hover {
          p {
            .img {
              transform: translate(-50%, -50%) rotate(45deg);
            }
          }
        }
      }

      &:nth-of-type(2) {
        &:hover {
          p {
            .img {
              top: -2rem;
            }
          }
        }
      }

      &:last-of-type {
        &:hover {
          p {
            .img {
              // transform: rotate(
              //   20deg
              // ); /* 이미지를 시계 방향으로 30도 회전합니다. */
              // transform-origin: bottom left; /* 회전 중심을 요소의 좌측 상단으로 설정합니다. */
              transform: rotate(10deg);
            }
          }
        }
      }
    }

    // &.open {
    //   align-content: space-between;
    //   // scale: 0.5;

    //   ul {
    //     height: 20rem;
    //   }
    // }
  }
}
